{{outlet}}

<div class="container">
    <table class="table table-responsive table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">City</th>
                <th scope="col">Coordinate</th>
            </tr>
        </thead>
        <tbody>
            {{#each airports as |airport|}}
            <tr>
                <th scope="row">{{airport.id}}</th>
                <td>{{airport.name}}</td>
                <td>{{airport.city}}, {{airport.country}}</td>
                <td>{{airport.coordinateLat}}, {{airport.coordinateLng}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
