{{outlet}}

<div class="container">
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">City</th>
            </tr>
        </thead>
        <tbody>
            {{#each airports as |airport|}}
            <tr>
                <th scope="row">{{airport.id}}</th>
                <td>{{airport.label}}</td>
                <td>{{airport.airport.city.texts.en}}, {{airport.airport.country}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
